---
---

@import "{{ site.theme }}";

h3 {
  color: green;
}

.page-header {
  background-color: #425669;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 30%;
}

.project-name {
  display: none;
}

.project-tagline {
  display: none;
}

.main-content > p:first-child {
    background:yellow;
}
