---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5 {
  color: #1e6bb8;
}

.page-header {
  background-color: #425669;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 30%;
}

.project-name {
  display: none;
}

.project-tagline {
  display: none;
}

.main-content > p:first-child {
    margin: auto;
}

.main-content > p:first-child > a, strong{
    margin: 10px;
}
